<html>
<head>
  <title>bash.js</title>
  <style>
  body {
    font-family: monospace;
    font-size: 14px;
    color: white;
    background-color: black;
    padding: 20px 20px 0;
    margin: 0;
  }
  pre {
    font-size: 14px;
  }
  span.cursor {
    background-color: #666;
  }
  div.error {
    color: red;
  }
  </style>
</head>
<body>
  <div id="shell-container"><div id="shell"></div></div>
  <input type="text" id="input-text" style="opacity: 0;">
  <div id="the-end"></div>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <!--
  <script type="text/javascript" src="http://gould.in/jquery.hotkeys.js"></script>
  -->

  <script id="templateInput" type="text/x-jquery-tmpl">
  <div class="in">
    <span class="prompt">${host}:${cwd} $</span> <span class="input"></span>
  </div>
  </script>

  <script id="templateCursor" type="text/x-jquery-tmpl">
  <span class="before-cursor">${before}</span><span class="cursor">{{if cursor}}${cursor}{{else}}&nbsp;{{/if}}</span><span class="after-cursor">${after}</span>
  </script>

  <script id="templateOutput" type="text/x-jquery-tmpl">
  <div class="out ${result}"><pre>${output}</pre></div>
  </script>

  <script src="/socket.io/socket.io.js"></script> 
  <script>
  function getCaret(el) { 
    // Function to find the current position in an input. Taken from:
    // http://stackoverflow.com/questions/263743/how-to-get-cursor-position-in-textarea/263796#263796
    if (el.selectionStart) { 
      return el.selectionStart; 
    } else if (document.selection) { 
      el.focus(); 

      var r = document.selection.createRange(); 
      if (r == null) { 
        return 0; 
      } 

      var re = el.createTextRange(), 
          rc = re.duplicate(); 
      re.moveToBookmark(r.getBookmark()); 
      rc.setEndPoint('EndToStart', re); 

      return rc.text.length; 
    }  
    return 0; 
  }

  // Functions to set the current position in an input. Taken from:
  // http://stackoverflow.com/questions/499126/jquery-set-cursor-position-in-text-area/499158#499158
  function setSelectionRange(input, selectionStart, selectionEnd) {
    if (input.setSelectionRange) {
      input.focus();
      input.setSelectionRange(selectionStart, selectionEnd);
    }
    else if (input.createTextRange) {
      var range = input.createTextRange();
      range.collapse(true);
      range.moveEnd('character', selectionEnd);
      range.moveStart('character', selectionStart);
      range.select();
    }
  }

  function setCaret (el, pos) {
    setSelectionRange(el, pos, pos);
  }

  $(document).ready(function(){
    var tabCompletion = false;
    var lastCwd = null;
    var socket = new io.Socket('localhost'); 

    var updateCursor = function() {
      var input = $("#input-text");
      var pos = getCaret(input.get(0));
      var val = input.val();
      $('span.input:last').html($("#templateCursor").tmpl({
        before: val.substring(0, pos),
        cursor: val.charAt(pos),
        after: val.substring(pos + 1)
      }));
    }

    var removeCursor = function() {
      $('span.input:last').text($("#input-text").val());
    }

    var addPrompt = function(retainLastPrompt, cwd) {
      if (!cwd && !lastCwd) {
        // Set the cwd if we don't already have one.
        socket.send('cd ~/\n');
        return;
      }

      // Clean up
      removeCursor();
      if (!retainLastPrompt) {
        $("#input-text").val('');
      } else {
        console.log('retaining prompt');
      }

      // Add the new prompt
      $("#shell").append($("#templateInput").tmpl({
        host: window.location.hostname,
        cwd: cwd || lastCwd
      }));
      updateCursor();

      // Reset focus
      $("#input-text").focus();
      $(window).scrollTop(document.body.scrollHeight);

      if (cwd) {
        lastCwd = cwd;
      }
    };

    socket.on('connect', function(){ console.log('connect'); });
    socket.on('message', function(message){
      var result = JSON.parse(message);
      console.log('result', result);

      if (result.result === 'cwd') {
        addPrompt(tabCompletion, result.output);
        tabCompletion = false;
      } else if (result.result === 'complete') {
        var input = $("#input-text");
        var pos = getCaret(input.get(0));
        var beforeCursorParts = input.val().substring(0, pos).split(' ');
        beforeCursorParts.pop();
        beforeCursorParts.push(result.output);
        input.val(beforeCursorParts.join(' ') + input.val().substring(pos));
        updateCursor();
        tabCompletion = false;
      } else if (result.output) {
        //result.output = result.output.replace(/\n/g, '<br>');
        var shell = $("#shell");
        shell.append($("#templateOutput").tmpl(result))
      }
    });
    socket.on('disconnect', function(){ console.log('disconnect'); });
    socket.connect();

    /*
    $(document).bind('keydown', 'ctrl+k', function(){
      $("#shell").html('');
      addPrompt();
    });
    */

    var keyDownHandler = null;
    $("#input-text").bind({
      blur: function() {
        $(this).focus();
      },
      keypress: function(e) {
        var that = this;
        var chr = String.fromCharCode(e.keyCode);
        if (chr === '\r') {
          socket.send($(that).val() + '\n');
        } else {
          setTimeout(function(){
            updateCursor();
          }, 0);
        }
      },
      keydown: function(e) {
        var chars = [8, 37, 39]; // [backspace, leftArrow, rightArrow]
        if (chars.indexOf(e.keyCode) !== -1) {
          var that = this;
          var input = $('span.input:last');
          keyDownHandler = setInterval(function(){
            updateCursor();
          }, 50);
        }
        if (e.keyCode == 9) { // tab pressed
          console.log('tab completion detected');
          e.preventDefault();
          var input = $("#input-text");
          var cursorPos = getCaret(input.get(0));
          var val = input.val().substring(0, cursorPos);
          socket.send(val + '\t');
          tabCompletion = true;
          return false;
        }
      },
      keyup: function(e) {
        if (keyDownHandler !== null) {
          clearInterval(keyDownHandler);
          keyDownHandler = null;
          updateCursor();
        }
      }
    });
    addPrompt();
  });
  </script>
</body>
</html>